.gradient-text {
    background-image: linear-gradient(to right, #0000ff, #ff00aa);
    background-clip: text;
    -webkit-background-clip: text;
    /* Pour une compatibilité avec certains navigateurs */
    color: transparent;
}

.image {
    border-radius: 75% 25% 75% 25% / 25% 75% 25% 75%;
}

.item-link {
    position: relative;
    display: block;
    z-index: 2;
    /* Modifier la valeur du z-index à 2 */
}

.item-link::after {
    background-color: #000;
    display: block;
    position: absolute;
    bottom: 2px;
    width: 0;
    height: 1px;
    content: "";
    color: #000;
    transition: all 0.2s;
    left: 0;
}
.item-link:hover::after {
    width: 100%;
}